<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/public/css/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/public/css/special.css" />
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
  <nav class="top-nav">
    <div class="container">
        <div class="nav-wrapper">
          <a class="page-title">Transacciones</a>
        </div>
    </div>
  </nav>
<!--
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header">
          <h1>Reto Flap CIE</h1>
        </div>
        <hr>
      </div>
    </div>
-->
    <ul id="slide-out" class="side-nav fixed morado">
      <li class="logo">
          <a id="logo-container" class="brand-logo" href="#">
            <img src="../../public/assets/dog.png" alt="" height="120" width="160" />
          </a>
        </li>
        <li>
          <div class="principal center-align">
            <h3>
              FiduChain
            </h3>
          </div>
        </li>
        <li><a href="/users">Clientes</a></li>
        <li><a href="#">Transacciones</a></li>
        <li>
            <div class="niu-card card-panel deep-purple darken-4 pinned">
              <span class="white-text"><div id="selectedAlgo">
                <h5>Transacciones de  <span>{{- .Phone }}</span></h5>
                <p><strong>Debt: </strong> {{- .Debt}}</p>
                <p><strong>Payment:</strong> {{- .Payment}}</p>
                <p><strong>Balance:</strong> {{- .Balance}}</p>
              </div>
              </span>
            </div>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
</header>
<main>
  <div class="section white">
   <div class="row container">
     <table class="table">
       <thead>
         <tr>
           <th>Phone</th>
           <th>Monto</th>
           <th>Timestamp</th>
           <th>Timelimit</th>
         </tr>
       </thead>
       <tbody>
         {{- range .Transactions }}
           <tr>
             <td>{{.UserTel}}</td>
             <td>{{.Amount}}</td>
             <td>{{.Timestamp}}</td>
             <td>{{.TimeLimit}}</td>
           </tr>
         {{- end }}
       </tbody>
     </table>




   </div>
 </div>
</main>

<footer class="page-footer  indigo accent-3">
  <div class="footer-copyright">
    <div class="container">
      © 2016 HACKLLOWEEN BBVA
    </div>
  </div>
</footer>


  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/public/css/materialize/js/materialize.js"></script>
</body>
</html>
